# Options -Indexes
DirectoryIndex index.html index.php

<IfModule mod_headers.c>
    # Cabeceras de Seguridad (Fase 2B: CSP Activa)
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
    Header always set Strict-Transport-Security "max-age=86400"
    
    Header always set Content-Security-Policy "default-src 'self' https: data: blob:; script-src 'self' https: 'unsafe-inline' 'unsafe-eval'; style-src 'self' https: 'unsafe-inline'; img-src 'self' https: data: blob:; font-src 'self' https: data:; media-src 'self' https: data: blob:; frame-src 'self' https://docs.google.com https://www.google.com https:; connect-src 'self' https:; object-src 'none'; base-uri 'self'; frame-ancestors 'self'; form-action 'self' https:; upgrade-insecure-requests"
</IfModule>

RewriteEngine On
RewriteBase /

# Solución HTTrack: Si piden una fuente .woff2, entregamos el archivo .html físico disfrazado con el tipo MIME correcto
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(assets/fonts/.+?)\.woff2$ $1.html [T=font/woff2,L]