# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     
#     # Enviar peticiones de PMTiles a un Proxy PHP para garantizar cabeceras 206 intactas
#     # Esto permite no tocar el archivo JS ni cambiar la constante PMTILES_URL
#     RewriteRule ^(.*\.pmtiles)$ serve_pmtiles.php?file=$1 [L,QSA]
# </IfModule>