<IfModule mod_headers.c>
    <FilesMatch "\.pmtiles$">
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Headers "Range"
        Header set Access-Control-Expose-Headers "Content-Length, Content-Range, Accept-Ranges"
        Header set Accept-Ranges "bytes"
    </FilesMatch>
</IfModule>

# Prevenir que Apache comprima el archivo (lo cual borra la cabecera Content-Length)
<IfModule mod_env.c>
    SetEnvIfNoCase Request_URI "\.pmtiles$" no-gzip dont-vary
</IfModule>